.landingNewRootRoot {
  width: auto;
  height: 4120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
}
.hero {
  height: 832px;
  gap: 69px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/M7KSut5G89YVJwNshZSd.svg");
  padding: 2rem 5rem;
  margin: 0px 0px 192px 0px;
}
.header {
  gap: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
}
.logo {
  width: 111.16px;
  height: 37.06px;
  align-self: flex-start;
  margin: 4.99px 252.74px 0px 0px;
}
.menuItems {
  width: 548px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 223px 0px 0px;
}
.text1 {
  font-size: 16px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  margin: 0px 102px 0px 0px;
}
.text2 {
  font-size: 16px;
  font-family: Poppins;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  margin: 0px 101px 0px 0px;
}
.text3 {
  font-size: 16px;
  font-family: Poppins;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  margin: 0px 102px 0px 0px;
}
.text4 {
  font-size: 16px;
  font-family: Poppins;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
}
.whiteText {
  width: 145px;
  height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 22.4px;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  box-shadow: 0px 30px 40px 0px rgba(240, 101, 126, 0.05);
  border-radius: 40px;
  padding: 13px 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
}
.whiteText:hover {
  opacity: 70%;
}
.line {
  width: 1280px;
  height: 4px;
}
.flexRow1 {
  gap: 113.28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: stretch;
  padding: 0px 32.56px;
}
.flexColumn {
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 32px 0px;
}
.headline {
  width: 542.72px;
  height: 292.74px;
  align-self: center;
  margin: 0px 0px 59.26px 0px;
}
.paragraph {
  width: 448px;
  font-size: 16px;
  font-family: Poppins;
  line-height: 32px;
  margin: 0px 0px 48px 0px;
}
.whiteFlexRow {
  width: 432px;
  gap: 119px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 30px 40px 0px rgba(240, 101, 126, 0.05);
  border-radius: 40px;
  padding: 8px;
}
.flexRow2 {
  gap: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image1 {
  width: 14px;
  height: 20px;
}
.text5 {
  color: #807c7c;
  font-size: 14px;
  font-family: Poppins;
  line-height: 24px;
  white-space: nowrap;
}
.bittersweetText {
  width: 122px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 18.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f2726c;
  border-radius: 30px;
  padding: 15px 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
}
.bittersweetText:hover {
  opacity: 70%;
}
.element8 {
  width: 511.44px;
  height: 619px;
  position: relative;
}
.parrot {
  width: 458.44px;
  height: 565px;
  left: 53px;
  position: absolute;
}
.flexColumn1 {
  height: 320px;
  top: 299px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/EfQJbicfBqd5CrmPYExl.svg");
  padding: 0px 72px 0px 32px;
}
.icon {
  width: 48px;
  height: 56px;
  margin: 0px 0px 92px 0px;
}
.text6 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 28px;
  white-space: nowrap;
  text-transform: capitalize;
}
.text7 {
  align-self: center;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 80px;
  white-space: nowrap;
}
.team1 {
  width: 1120px;
  gap: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 192px 0px;
}
.txt2 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text8 {
  color: #222433;
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  text-transform: capitalize;
}
.paragraph1 {
  width: 352px;
  color: #1e1a20;
  font-size: 18px;
  font-family: Poppins;
  line-height: 32px;
  text-align: center;
  white-space: pre-wrap;
}
.element9 {
  width: 1120px;
  height: 367px;
  position: relative;
  align-self: stretch;
}
.image2 {
  width: 393.04px;
  height: 178.83px;
  left: 163.8px;
  top: 25.34px;
  position: absolute;
}
.image3 {
  width: 393.04px;
  height: 178.83px;
  left: 620.8px;
  top: 135.83px;
  position: absolute;
}
.img {
  width: 323px;
  height: 274px;
  position: absolute;
}
.img1 {
  width: 334px;
  height: 263px;
  left: 392px;
  top: 104px;
  position: absolute;
}
.img2 {
  width: 276px;
  height: 312px;
  left: 844px;
  position: absolute;
}
.bg {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffbd9e;
  border-radius: 20px;
  padding: 79.59px 80px 104px 80px;
  margin: 0px 0px 192px 0px;
}
.txt {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: center;
  margin: 0px 0px 64px 0px;
}
.text9 {
  width: 389px;
  color: #222433;
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 56px;
  text-transform: capitalize;
}
.paragraph2 {
  width: 384px;
  color: #1e1a20;
  font-size: 18px;
  font-family: Poppins;
  line-height: 32px;
  white-space: pre-wrap;
}
.contactForm {
  width: 450.89px;
  height: 376.41px;
  position: relative;
}
.bgform {
  height: 352px;
  top: 24.41px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f3f4;
  border-radius: 16px;
  padding: 0px 55px;
}
.text10 {
  color: #222433;
  font-size: 32px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 56px;
  white-space: nowrap;
  text-transform: capitalize;
  margin: 0px 0px 24px 0px;
}
.inputname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 40px 0px rgba(240, 101, 126, 0.05);
  margin: 0px 0px 16px 0px;
}
.inputmail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 30px 40px 0px rgba(240, 101, 126, 0.05);
  margin: 0px 0px 32px 0px;
}
.bittersweetText1 {
  width: 312px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 18.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f2726c;
  border-radius: 30px;
  padding: 15px 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
}
.bittersweetText1:hover {
  opacity: 70%;
}
.image4 {
  width: 39.1px;
  height: 20.49px;
  left: 398.55px;
  top: 78.12px;
  position: absolute;
}
.image5 {
  width: 60.03px;
  height: 54.75px;
  left: 379.68px;
  top: 4.28px;
  position: absolute;
}
.faQs {
  gap: 104px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0px 0px 192px 0px;
}
.flexColumn2 {
  height: 389px;
  gap: 56px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
}
.txt1 {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.text11 {
  width: 480px;
  color: #222433;
  font-size: 40px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 56px;
  text-transform: capitalize;
}
.paragraph3 {
  width: 423px;
  color: #1e1a20;
  font-size: 18px;
  font-family: Poppins;
  line-height: 32px;
}
.bittersweetText2 {
  width: 166px;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 18.2px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f2726c;
  border-radius: 30px;
  padding: 15px 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
}
.bittersweetText2:hover {
  opacity: 70%;
}
.qa {
  height: 389px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.question {
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  align-items: center;
  margin: 0px 0px 32px 0px;
}
.flexRow3 {
  gap: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  margin: 0px 0px 13px 0px;
}
.btnclose {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-image: url("https://file.rendit.io/n/gMx8abWKQWHADGLKIecq.svg");
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: transparent;
}
.btnclose:hover {
  opacity: 70%;
}
.paragraph4 {
  width: 459px;
  align-self: flex-start;
  color: #1e1a20;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  margin: 0px 0px 31px 0px;
}
.question1 {
  width: 536px;
  height: 72px;
  position: relative;
  margin: 0px 0px 32px 0px;
}
.text13 {
  top: 3px;
  position: absolute;
  color: #1e1a20;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  white-space: nowrap;
}
.btnopen {
  width: 40px;
  height: 40px;
  left: 496px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url("https://file.rendit.io/n/gSHgUBRKXIzpRpUHlYaQ.svg");
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: transparent;
}
.btnopen:hover {
  opacity: 70%;
}
.divider1 {
  width: 536px;
  height: 1px;
  top: 71px;
  position: absolute;
}
.question2 {
  gap: 31px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexRow4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}
.btnopen1 {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-image: url("https://file.rendit.io/n/gSHgUBRKXIzpRpUHlYaQ.svg");
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  cursor: pointer;
  background-color: transparent;
}
.btnopen1:hover {
  opacity: 70%;
}
.bg1 {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffbd9e;
  padding: 104px 0px;
}
.img3 {
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/KLIHSfVtT2S4rm7072un.png");
  padding: 0px 24px 0px 0px;
  margin: 98px 72px 0px 0px;
}
.text15 {
  width: 77px;
  height: 34px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  white-space: nowrap;
}
.text16 {
  width: 193px;
  height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  white-space: nowrap;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/SLgWKnW2O5OXvl5l2c08.png");
  padding: 0px 41px 0px 42px;
  margin: 62px 53px 0px 0px;
}
.flexColumn3 {
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  margin: 0px 52px 0px 0px;
}
.cardmain {
  width: 438px;
  height: 383px;
  position: relative;
}
.flexColumn4 {
  height: 196px;
  top: 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/TUgxXUNUW8hcgQQ9vgV8.svg");
  padding: 83px 77px 83px 80px;
}
.txt3 {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.paragraph5 {
  width: 281px;
  color: #1e1a20;
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  text-align: center;
}
.imgmain {
  width: 186px;
  height: 163px;
  left: 45px;
  position: absolute;
}
.indicator {
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.element7 {
  font-size: 24px;
  font-family: Poppins;
  line-height: 32px;
  white-space: pre-wrap;
}
.element6 {
  display: contents;
  color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: Poppins;
  line-height: 32px;
}
.text18 {
  width: 131px;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  white-space: nowrap;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/K4pmB0jnRzRRizOXJXGG.png");
  padding: 0px 73px;
  margin: 81px 72px 0px 0px;
}
.img6 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/jGdeopnBXC11R4Ra5x63.png");
  padding: 0px 0px 0px 47.93px;
  margin: 104px 0px 0px 0px;
}
.text19 {
  width: 51.07px;
  height: 34px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 34px;
  white-space: nowrap;
}
.background {
  width: 1097px;
  height: 152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f7f3f4;
  padding: 96px 183px 88px 160px;
}
.element4 {
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text20 {
  color: #333333;
  font-size: 34px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 48px;
  white-space: nowrap;
  text-transform: uppercase;
}
.paragraph6 {
  align-self: flex-start;
  color: #333333;
  font-size: 13px;
  font-family: Poppins;
  line-height: 24px;
  white-space: nowrap;
  letter-spacing: 0.3px;
}
.flexRow5 {
  width: 617px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
}
.element3 {
  gap: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text21 {
  width: 221px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 32px;
  letter-spacing: 0.3px;
}
.paragraph7 {
  width: 221px;
  color: #333333;
  font-size: 13px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.element2 {
  gap: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}
.text22 {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  font-family: Poppins;
  line-height: 32px;
  white-space: nowrap;
  letter-spacing: 0.3px;
}
.flexRow6 {
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
}
.base2 {
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  border-radius: 16.01px;
  padding: 0px 7px 0px 8px;
}
.image6 {
  width: 17px;
  height: 13.32px;
}
.base {
  width: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  border-radius: 16.01px;
  padding: 9.25px 0px 9.31px 0px;
}
.element1 {
  width: 7.11px;
  height: 13.44px;
}
.base1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #333333;
  border-radius: 16.01px;
  padding: 8.54px 8.6px 10.65px 9.94px;
}
.in1 {
  width: 13.46px;
  height: 12.81px;
}
